In [17]:
from sklearn import datasets
boston=datasets.load_boston()
X=boston.data
Y=boston.target
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
import pandas as pd
df=pd.DataFrame(X)
df.columns=boston.feature_names
#print(df.columns[0])
for i in range(0,len(df.columns)):
    for j in range(0,len(df.columns)):
        new=str(i*j)
        df[new]=df[df.columns[i]]*df[df.columns[j]]
#df.describe()
X=df.values
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,Y)
alg=LinearRegression()
alg.fit(X_train,Y_train)
Y_pred=alg.predict(X_test)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,127812,127824,127836,127848,127860,127872,127884,127896,127908,127920
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,...,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,...,1.085714e+14,1.183467e+17,1.966047e+13,8.833124e+13,2.642992e+11,5.050186e+10,8.524147e+11,2.488013e+13,1.046312e+09,3.046244e+11
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,...,9.395014e+14,1.810756e+17,4.897240e+13,7.635453e+14,2.760830e+12,1.355647e+11,7.447853e+12,4.709299e+13,5.000419e+09,2.349118e+12
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,...,0.000000e+00,4.205684e+11,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.999447e+09,0.000000e+00,0.000000e+00
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,...,0.000000e+00,7.902531e+15,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.304813e+11,0.000000e+00,0.000000e+00
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,...,0.000000e+00,3.292314e+16,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.779903e+12,0.000000e+00,0.000000e+00
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,...,0.000000e+00,1.100938e+17,1.020274e+13,0.000000e+00,0.000000e+00,1.789426e+09,0.000000e+00,1.481415e+13,0.000000e+00,0.000000e+00
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,...,1.258445e+16,8.559534e+17,3.813890e+14,1.090142e+16,5.133939e+13,1.056640e+12,1.231519e+14,2.488414e+14,4.361323e+10,3.327560e+13